{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <p>The RFID application is used to log a registered user's name and timestamp per scanned RFID tag.  The RFID tag number will be assigned to a person when the register.  This number is unique.</p>
        <p>The Database Administrator (DBA) will provide the registered user the physical RFID tag. In addition the DBA can schedule reports to be generated automatically for a specified individual or group.</p>
    </div>
{% endblock content%}